* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-04-aluraflix-e-filmes.png");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100vh;

}

.container {
    text-align: center;
    padding: 20px;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.banner-container {
    display: inline-flex;
    flex-direction: column;
    max-width: 166px;
    justify-content: center;
    align-items: center;
    margin: 24px 8px;
    color: white;
    font-size: 0.85em;
    row-gap: 5px;
    transition: .2s;
    z-index: 10;

}

#listaFilmes {
    display: flex;
    max-width: 90vw;
    justify-content: center;
    margin: auto;
    flex-flow: row wrap;
}

#listaFilmes img {
    max-height: 250px;
}

.botao-adicionar {
    background-color: green;
}

.botao-remover {
    background-color: red;
}

.form-wrapper {
    display: flex;
    justify-content: space-around;
    /*background-color: rgba(255, 0, 0, 0.185);*/
    color: white;
    margin: 0 0 15px;
}


.form-wrapper > div p{
    margin-bottom: 4px;
    margin-top: 8px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.821);
}

label, h3{
    margin-bottom: 10px;

}

.form-wrapper div:first-child {
    /*background-color: rgba(0, 128, 0, 0.21);*/
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.form-wrapper div:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100%;
    align-items: flex-end;
    text-align: right;
    /*background-color: rgba(255, 68, 0, 0.201);*/
}


.form-wrapper input {
    display: block;
    margin: 0 auto;
    padding: 10px 15px;
}

.form-wrapper button {
    border: 0;
    color: #ffffff;
    font-weight: bold;
    padding: 10px 15px;
    font-size: 12px;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: 0.3s;

}

.form-wrapper button:hover {
    opacity: 0.8;
}

input {
    border-radius: 20px;
}