* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    background-image: url("https://lh3.googleusercontent.com/pw/AMWts8BO990usySdQyKigJrsPvSHR1QxzAayCa_AT6aWMBPnjpSkas3IMXmQOs4I-mDCvzl1LBdLEAcpAw2uXUc9q4UJVb30gx8GP1Umw-P2nRtbkm6IPst5xNh4iX1IQPARKFDo2aHSIMFFXk_X_IfLmSS-0A=w675-h451-no?authuser=0");
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100vh;
    backdrop-filter: blur(10px);
}

.container {
    text-align: center;
    min-height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 20px 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: -10px;
    right: 10px;
}

.movies-container {
    width: 90vw;
    margin: auto;
    margin-top: 30px;
}

.banner-container {
    display: inline-flex;
    flex-direction: column;
    max-width: 166px;
    max-height: 250px;
    justify-content: center;
    align-items: center;
    margin: 24px 8px;
    color: white;
    font-size: 0.9em;
    row-gap: 5px;

}

img {
    max-height: 250px;
}